JAVA/TWOAPES_COMMONALITY/target
JAVA/TWOAPES_COMMONALITY/src/main/resources/rebel.xml

JAVA/TWOAPES_STUDY/target
JAVA/TWOAPES_STUDY/src/main/resources/rebel.xml

JAVA/target
JAVA/out

Spring/target
SpringBoot/target